<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back-blue"></i>
        <span>Back</span>
       </a>
    </div>
    <div class="center sliding">デバイス一覧</div>
    <div class="right">
      <a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
    </div>
  </div>
</div>
<div class="pages">
  <div data-page="devices" class="page">
    <div class="page-content">
      <div class="list-block">
        <div class="list-group">
          <ul>
            <li class="list-group-title">Owner</li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">uuid</div>
                <div class="item-after" id="owner-uuid"></div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">token</div>
                <div class="item-after" id="owner-token"></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="list-group">
          <ul>
            <li class="list-group-title">trigger-1</li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">uuid</div>
                <div class="item-after" id="trigger-1-uuid"></div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">token</div>
                <div class="item-after" id="trigger-1-token"></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="list-group">
          <ul>
            <li class="list-group-title">action-1</li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">uuid</div>
                <div class="item-after" id="action-1-uuid"></div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">token</div>
                <div class="item-after" id="action-1-token"></div>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
