<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>IDCFチャンネルサーバー管理</title>
    <link rel="stylesheet" href="/css/vendor.css">
  </head>
  <body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>左パネル</p>
      </div>
    </div>
    <div class="views">
      <div class="view view-main">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="center sliding">IDCFチャンネルサーバー管理</div>
            <div class="right">
              <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
            </div>
          </div>
        </div>
        <div class="pages navbar-through toolbar-through">
          <div data-page="index" class="page">
            <div class="page-content">
              <div class="content-block-title">メニュー</div>
              <div class="list-block">
                <ul>
                  <li>
                    <a href="/devices.html" id="currency_link" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title">デバイス一覧</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="https://maps.google.com/maps/api/js?libraries=places&sensor=true"></script>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>
