<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>IDCF Chanel Management</title>
    <link rel="stylesheet" href="/css/vendor.css">
  </head>
  <body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
      </div>
    </div>
    <div class="views">
      <div class="view view-main navbar-fixed">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
            </div>
            <div class="center sliding">IDCF Channel Management</div>
          </div>
        </div>
        <div class="pages navbar-through toolbar-through">
          <div data-page="index" class="page">
            <div class="page-content">
              <div class="content-block-title">サーバー情報</div>
              <div class="list-block">
                <ul>
                  <li class="item-content">
                    <div class="item-inner device-item">
                      <div class="item-title">IPアドレス</div>
                      <div class="item-after" id="ipaddress"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="link-wrap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script id="link-template" type="text/template7">
{{#each this}}
<div class="content-block-title">{{blocktitle}}</div>
  <div class="list-block">
    <ul>
    {{link url title}}
    </ul>
  </div>
</div>
{{/each}}
</script>

<script id="sensors-template" type="text/template7">
  <ul>
    {{#each this}}
    <li class="item-divider">{{category}}</li>
      {{#each sensors}}
    <li class="item-content">
      <div class="item-inner">
        <div class="item-title">{{titleName}}</div>
        <div class="item-after" id="{{dataId}}"></div>
      </div>
    </li>
    <li class="item-content">
      <div class="item-inner">
        <div id="{{sparkline}}"></div>
      </div>
    </li>
      {{/each}}
    {{/each}}
  </ul>
</script>

<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>
<script type="text/javascript" src="https://cdn.octoblu.com/js/meshblu/latest/meshblu.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
</body>
</html>
