<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
        <span>Back</span>
       </a>
    </div>
    <div class="center sliding">SensorTag Monitor</div>
  </div>
</div>
<div class="pages">
  <div data-page="sensortag" class="page">
    <div class="page-content">
      <div class="content-block-title">データ取得</div>
      <form id="meshblu-form" class="list-block store-data">
        <ul>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title label">送信元</div>
              <div class="item-input">
                <select name="triggerno">
                  <option value="1">trigger-1</option>
                  <option value="2">trigger-2</option>
                  <option value="3">trigger-3</option>
                </select>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">開始</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox" name="meshblucheck">
                    <div id="meshblu-enable" class="checkbox"></div>
                  </label>
                </div>
                <div id="meshblu-ready" class="item-after"></div>
              </div>
            </div>
          </li>
        </ul>
      </form>

      <div class="content-block-title">物体の温度</div>
      <form id="threshold-form" class="list-block store-data">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">閾値</div>
                <div class="item-input">
                  <input type="number" id="tempthreshold" name="tempthreshold" placeholder="30.0" value="30.0">
                </div>
              </div>
            </div>
          </li>

          <li class="item-content">
            <div class="item-inner">
              <div class="item-title label">基準</div>
              <div class="item-input">
                <select name="criteria">
                  <option value="over">以上</option>
                  <option value="fewer">以下</option>
                </select>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">有効</div>
                <div class="item-input">
                  <label class="label-switch">
                    <input type="checkbox" name="thresholdcheck">
                    <div id="threshold-enable" class="checkbox"></div>
                  </label>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="content-block-title">Sensors</div>
      <div id="sensors-wrap" class="list-block">
    </div>
  </div>
</div>
